
.main-cont {
  position: relative;
}

.title {
  text-align: center;
}

.board-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.row {
  display: flex;
}

.tile {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin: 2px;
  font-size: 24px;
  font-weight: bold;
}

.keyboard-row {
  display: flex;
}

.keyboard {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-row div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  width: 40px;
  height: 60px;
  margin: 2px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(232, 232, 232);
}

.row__2 {
  margin-left: 20px;
}

#enter {
  width: 50px;
}
#delete {
  width: 70px;
}

.noselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.correct {
  background-color: #6ca965 !important;
}

.wrong {
  background-color: #999c9e !important;
}

.slightly-correct {
  background-color: #c8b653 !important;
}

.win-cont {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  width: 300px;
  height: 160px;
  border-radius: 8px;
  margin-inline: auto;
  background-color: rgb(212, 212, 212);
}

.win-cont__btn-cont {
  display: flex;
}

.win-cont__title {
  margin-top: 10px;
}
.win-cont__word {
  margin-top: 10px;
}
.win-cont__button {
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 20px;
  width: 80px;
  padding: 8px;
  margin-inline: auto;
  border-radius: 5px;
  background-color: rgb(200, 134, 134);
}
.win-cont__button:hover {
  background-color: rgb(203, 105, 105);
}

.message-cont {
  background-color: rgb(196, 196, 196);

  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  margin-inline: auto;
  width: 250px;

  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}