
.title {
  text-align: center;
}

.board-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.tile {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin: 2px;
  font-size: 24px;
  font-weight: bold;
}

.keyboard-row {
  display: flex;
}

.keyboard {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-row div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  width: 40px;
  height: 60px;
  margin: 2px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(232, 232, 232);
}

.row__2 {
  margin-left: 20px;
}

#enter {
  width: 50px;
}
#delete {
  width: 70px;
}

.noselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.correct {
  background-color: #6ca965 !important;
}

.wrong {
  background-color: #999c9e !important;
}

.slightly-correct {
  background-color: #c8b653 !important;
}