/* profile_style.css */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.baddie {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

.badi {
    background-color: #f5f5f5;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* profile_style.css */
.profile-page-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 60px;
}

.left-navigation {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.left-navigation.open {
    left: 0;
}

.left-navigation .btn {
    width: 100%;
    margin-bottom: 10px;
}

.profile-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.profile-sidebar {
    width: 300px;
    padding: 20px;
    background: linear-gradient(90deg, #D2736F, #E89686, #E6B09E ) no-repeat center center fixed;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 20px;
    align-self: flex-start;
    z-index: 8;
}

.profile-image img {
    border: 2px solid #dc8383;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-sidebar h4 {
    margin-top: 15px;
    font-size: 1.2em;
}

.profile-main {
    padding: 30px;
    background-color: #f5f5f5;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    min-width: 700px;
    border-radius: 5px 5px 5px 5px;
    z-index: 8;
}

@media (max-width: 768px) {
    .profile-page-container {
        flex-direction: column;
        align-items: center;
    }

    .left-navigation, .profile-sidebar, .profile-main {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    .profile-content {
        margin-left: 0;
    }
}

.profile-form {
    width: 100%;
    text-align: center;
}

.profile-form .form-group {
    width: 100%;
    justify-content: center;
    margin: 10px auto;
}

.profile-form .form-group label {
    font-weight: bold;
    color: #495057;
}

.profile-form .form-control {
    font-size: 0.95em;
    border-radius: 10px;
}

.btn-primary {
    background-color: rgb(255, 255, 255);
    border-color: #d58077;
    color: #000000;
    width: 50%;
    font-weight: 250;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #d58077;
    border-color: #d58077;
    color: white;
}

.btn-primary1 {
    background-color: rgb(239, 121, 121);
    border-color: #d58077;
    color: #ffffff;
    width: 50%;
    font-weight: 250;
    border-radius: 30px;
}

.btn-primary1:hover {
    background-color: #fbbdbd;
    border-color: #fbbdbd;
    color: #4b4b4b;
}

.btn-primary2 {
    background-color: rgb(239, 121, 121);
    border-color: #d58077;
    color: #ffffff;
    width: 40%;
    font-weight: 250;
    border-radius: 5px;
}

.btn-primary2:hover {
    background-color: #fbbdbd;
    border-color: #fbbdbd;
    color: #4b4b4b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    margin: auto;
    border: 1px solid #888;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: openSesame 1s forwards;
    z-index: 10;
    position: relative;
}

@keyframes openSesame {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 70%;
        opacity: 1;
    }
}

.modal-content img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    align-items: center;
    animation: openSesame 1s forwards;
}

.modal-content .close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.font-size {
    font-size: 30px;
    font-weight: 500;
}

nav {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #cdd5de;
    position: fixed;
    background-color: rgb(245, 245, 245);
    z-index: 3;
    top: 0;
    left: 0;
}

.option {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;
}

.option img {
    width: 80%;
    height: auto;
}

#logo-name-cont {
    display: flex;
    align-items: center;
}

#logo-name-cont>h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

#nav-options {
    display: flex;
    align-items: center;
    gap: 5px;
}

#nav-profile-pic {
    background-color: rgb(193, 193, 193);
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .profile-page-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-sidebar, .profile-main {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    .profile-form .form-group {
        width: 100%;
    }
}

.form-control-half {
    width: 100%;
}

.form-group-margin {
    margin-top: 50px;
}

.group-margin {
    margin-top: 50px;
}

/* #profileImageInput {
    display: none;
}

#profileImageInput + label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ef7979;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.95em;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    font-weight: 500;
}

#profileImageInput + label:hover {
    background-color: #c75a5a;
} */

/* .profile-main:hover, .profile-sidebar:hover {
    transform: scale(1.05);
    transition: transform 0.8s ease;
}



.profile-main, .profile-sidebar {
    transition: transform 0.8s ease-out;
} */



