{% load static %}
{% load chat_filter %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'yapster/styles.css' %}" />

    <script type="module" src="{% static 'chat/chat.js' %}" defer></script>
    <script src="{% static 'chat/index.js' %}" defer></script>
    <script src="{% static 'yapster/index.js' %}" defer></script>
    <script src="{% static 'chat/search.js' %}" defer></script>

    <title>Chat</title>
  </head>
  <script>
    const csrfToken = "{{ csrf_token }}";
    const getOrCreateChatUrl = "{% url 'get_or_create_chat' %}";
    {% if not no_chat_open %}
    const changeNicknameUrl = "{% url 'update_nickname' chat_id=chat_room.id %}";
    const resetNicknameUrl = "{% url 'reset_nickname' chat_id=chat_room.id %}";
    const currentUserID = {{ current_userID }};
    const currentChatID = {{ chat_room.id }};
    const chat_users_id = {{ chat_room_users_id }};
    const currentUserNickname = "{{ current_userNickname }}";
    // const currentChat = {{ chat_room }};
    let chatCounter = {{ content|length }};
    const yaplist = {{ yapster_pfp_urls|safe }};
    {% endif %}
    let buffer = "@@@@";
  </script>
  <body>
    {% include 'html/navbar.html' %}
    <div id="main-cont">
      <!-- 9999999999999999999999999l-vc -->
      <div id="left-sidebar">
        <div id="search-bar-container">
          <!-- Search input where selected names will appear -->
          <div id="search-bar">
              <input
                  id="search-input"
                  type="text"
                  placeholder="Type a name..."
                  oninput="handleSearchInput(this.value)"
              />
          </div>
          <p class="chat-create" onclick="toggleCreateChatState()">Create Chat</p>
          <p id="exit-create-chat" class="chat-exit" style="display: none;" onclick="toggleCreateChatState()">X</p>
          <div id="selected-names" style="display: none;">
            <!-- Selected names will be dynamically added here in create-chat state -->
          </div>
        </div>
        <div class="search-container" id="users-cont">
          <div id="search-results"></div>
          <div id="chat-list"></div>
          <div id="current-chats">
            <!-- Existing Chats -->
            {% for chat in chat_users_mapping %}
            <div class="user" onclick="loadChatWithID({{ chat.chat_id }})" data-chat-id="{{ chat.chat_id }}">
              <img class="left-profile-pic"
                src="{% if chat.yapster_to_display and chat.yapster_to_display.profile_image and chat.yapster_to_display.profile_image.url %}
                      {{ chat.yapster_to_display.profile_image.url }}
                  {% else %}
                      {% static 'images/default_profile.jpg' %}
                  {% endif %}">
              </img>
                <div class="name-time-msg">
                    <div class="name-time">
                      <p class="name">
                        {% if chat.is_PM %}
                          {% for nickname in chat.nicknames %}
                            {% if nickname != chat.current_user_nickname %}
                              {{ nickname }}
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          {{ chat.chat_name }}
                        {% endif %}
                      </p>
                    </div>
                    <p class="message">
                      {% if chat.latest_message_content %}
                          {% if chat.latest_message_sender %}
                              {{ chat.latest_message_sender }}: {{ chat.latest_message_content }}
                          {% else %}
                              {{ chat.latest_message_content }}
                          {% endif %}
                      {% else %}
                          No messages yet
                      {% endif %}
                    </p>
                    <p class="time-sent">

                      {% if chat.latest_message_date %}
      
                          {{ chat.latest_message_date|date:"M d, H:i" }}
      
                      {% else %}
      
                          
      
                      {% endif %}
      
                  </p>                    
                </div>
            </div>
            {% empty %}
            <p>No chats available.</p>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- IMPLEMNMENT REALTIME HERE -->
      <div id="mid-bar">
        <section class="messages">
          <!-- Messages rendered from the server -->
          {% for i in content %}
          
            {% if i.system_message %}
                <div class="system-message">
                    <p>{{ i.message }}</p>
                    <script>buffer = "@@@@";</script>
                </div>
            {% else %}
            {% if i.sender != user %}
            <div class="message_body" id="prevchat{{ forloop.counter }}">
              {% if i.has_pfp %}
                <img class="pfp"
                  src="{% if i.yapster_user and i.yapster_user.profile_image and i.yapster_user.profile_image.url %}
                        {{ i.yapster_user.profile_image.url }}
                    {% else %}
                        {% static 'images/default_profile.jpg' %}
                    {% endif %}" alt>
                </img>
              {% else %}
                <div class="empty_image"></div>
              {% endif %}

              <div class="flex_message">
                {% if i.is_new_sender %}
                  <div class="chatter_name">{{ i.sender_nickname }}</div>
                {% endif %}

                <div class="bubble sender">
                {% if "[WORDLE]"|contains:i.message %}
                  <a href="/games/wordle/{{ i.message|slice }}">Guess my Wordle!</a>
                
                <script>buffer = "{{ i.sender_nickname }}";</script>
            {% else %}
                <p>{{ i.message }}</p>
                <script>buffer = "{{ i.sender_nickname }}";</script>
            {% endif %}
              </div>
            </div>
          </div>

          {% else %}
            <div class="bubble recipient" id="prevchat{{ forloop.counter }}">
            {% if "[WORDLE]"|contains:i.message %}
              <p>Guess my Wordle!</p>
            {% else %}
              <p>{{ i.message }}</p>
            {% endif %}
            </div>
            <script>buffer = "{{ i.sender_nickname }}";</script>
          {% endif %}
            {% endif %}
          {% endfor %}

          {% if validation.is_first_message and not validation.is_sender and not validation.is_friend %}

            <div class='user-option'>
              <a class='user-option__a' href="/friend/block_user/{{ validation.other }}">Block</a>
            </div>

          {% elif validation.is_blocked %}

            <div class='user-option'>
              <a class='user-option__a' href="{% url 'friend:unblock_user' validation.other %}">Unblock</a>
            </div>

          {% elif validation.you_are_blocked %}

            <div class='user-option'>
              <p>This user is unavailable.</p>
            </div>

          {% endif %}

        </section>
        <form action="" id="message-input" method="POST">
            {% csrf_token %}
            <div id="mid-message">
                <input id="typed-message" type="text" name="message" placeholder="Your message..." />
                <button id="wordle-btn" type="button">Game</button>
                <button id="send-btn" type="submit">Send</button>
            </div>
        </form>
      </div>

      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <label for="secretWord">Enter your word:</label>

          <form action="" id="wordle-form" method="POST">
            {% csrf_token %}
            <div>
              <input id="word-input" maxlength="5" type="text" name="message" placeholder="..." />
            </div>
            <div class="wordle__btn-cont">
              <button type="submit" class="wordle__btn">Create Wordle!</button>
            </div>
          </form>
        </div>
      </div>
      {% if no_chat_open %}
      <div id="chat-sidebar">
      </div>
      {% else %}
      <div id="chat-sidebar">
        <div class="chat-sidebar-profile">
          <div class="chat-sidebar-profile-pic">
              <div class="image">
                  <img id="profileImage" src="
                          {% if yapster_to_display.profile_image and yapster_to_display.profile_image.url %}{{ yapster_to_display.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}"
                       width="100" height="100" alt="Profile Picture"
                       onerror="this.onerror=null;this.src='{% static 'images/default_profile.jpg' %}';"></div>
              </div>

              <div class="chat-sidebar-info">
                <h2>
                  {% if is_pm %}
                      {{ display_name }}
                  {% else %}
                      {{ chat_room.chat_name|default:display_name }}
                  {% endif %}
              </h2>
              <p class="chat-sidebar-status">
                  {% if is_pm %}
                      @{{ pm_username }}
                  {% else %}
                      Group Chat
                  {% endif %}
              </p>
                <a href="#" class="chat-sidebar-search">
                    <img src="{% static 'chat/images/search.png' %}" alt="Search Icon" />
                    <span>Search</span>
                </a>
            </div>
        </div>
        <div class="chat-sidebar-options">
            <div class="dropdown">
              <button class="dropdown-toggle" onclick="toggleDropdown(this)">
                Chat info
                <img src="{% static 'chat/images/arrow-down.png' %}" alt="Arrow Down Icon" />
              </button>
              <div class="dropdown-content">
                <a onclick="togglePopup('nickname-popup')">Edit Nicknames</a>
                <a class="addMemberButton" onclick="toggleAddMemberState()">Add member</a>
                <a class="removeMemberButton" onclick="toggleRemoveMemberState()">Remove member</a>
                <a class="changeChatNameButton" onclick="togglePopup('chatname-popup')">Change Chat Name</a>
                <a class="leaveGroupButton" onclick="leaveGroup()">Leave Group</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropdown-toggle" onclick="toggleDropdown(this)">
                Customize chat
                <img src="{% static 'chat/images/arrow-down.png' %}" alt="Arrow Down Icon" />
              </button>
              <div class="dropdown-content">
                <a href="#">Option 1</a>
                <a href="#">Option 2</a>
                <a href="#">Option 3</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropdown-toggle" onclick="toggleDropdown(this)">
                Chat members
                <img src="{% static 'chat/images/arrow-down.png' %}" alt="Arrow Down Icon" />
              </button>
              <div class="dropdown-content">
                {% for user in chat_users %}
                  <div class="user" onclick="redirectToProfile({{user.member.user.id}})">
                    <img class="left-profile-pic" src="{% if user.member.profile_image %}{{  user.member.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}"></img>
                    <div class="name-time-msg">
                        <p class="name">{{ user.member.user.first_name }} {{ user.member.user.last_name }}</p>
                        <p class="time-sent">@{{ user.member.user.username }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
      {% endif %}

      <div id="chatname-popup" class="chatname-popup">
        <div class="chatname-popup-content">
          <span class="close-chatnames" onclick="togglePopup('chatname-popup')">&times;</span>
          <h2>Change Chat Name</h2>
          <div class="chatname-list">
              <div class="chatname-item">
                  <span class="chatname">{{ chat_room.chat_name|default:"Set Name" }}</span>
                  <input type="text" class="edit-chatname-input" style="display: none;" value="{{ chat_room.chat_name|default:"Set Name" }}">
                  <a style="color: red;" class="reset-chatname-btn">Reset</a>
                  <img src="{% static 'chat/images/save-nickname.png' %}" alt="Save Icon" class="save-chatname-btn" style="display: none;">
                  <img src="{% static 'chat/images/edit-icon.png' %}" alt="Edit Icon" class="edit-icon" id="edit-chatname-icon">
              </div>
          </div>
        </div>
      </div>

      <div id="nickname-popup" class="nickname-popup">
          <div class="nickname-popup-content">
            <span class="close-nicknames" onclick="togglePopup('nickname-popup')">&times;</span>
            <h2>Edit Nicknames</h2>
            <div class="nickname-list">
                {% for member in chat_room_users %}
                <div class="nickname-item" data-user-id="{{ member.member.id }}">
                    <img 
                        src="{% if member.member.user.profile_image %}{{ member.member.user.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}" 
                        alt="Profile Picture" class="profile-pic">
                    <span class="nickname">{{ member.nickname }}</span>
                    <input type="text" class="edit-nickname-input" style="display: none;" value="{{ member.nickname }}">
                    <a style="color: red;" class="reset-nickname-btn">Reset</a>
                    <img src="{% static 'chat/images/save-nickname.png' %}" alt="Save Icon" class="save-nickname-btn" style="display: none;">
                    <img src="{% static 'chat/images/edit-icon.png' %}" alt="Edit Icon" class="edit-icon" id="edit-nickname-icon">
                </div>
                {% endfor %}
            </div>
          </div>
      </div>
    </div>

    <script>
      let chat_name = `{{ chat_room.chat_name }}`;
      console.log("Room:", chat_name);
      let user_logged_in = `{{ user.username }}`;
      console.log("Logged-in user:", user_logged_in);
      window.localStorage.setItem('chatName',currentChatID)
      if (!window.localStorage.getItem('guessCount'))
        window.localStorage.setItem('guessCount', 0)

      function togglePopup(popupId) {
      const popup = document.getElementById(popupId);
      popup.style.display = popup.style.display === "block" ? "none" : "block";
        }

      window.onclick = function(event) {
        const popup = document.getElementById('nickname-popup');
        if (event.target === popup) {
          popup.style.display = "none";
        }
      }
      const youreBlocked = '{{ validation.you_are_blocked }}'
    </script>
  </body>
</html>

<!-- test maessage -->
          <!-- <div class="message_body">
            <div class="empty_image"></div>
            <div>
              <div class="chatter_name">
                Dunk it Jonathan
              </div>
              <div class="bubble sender">
                <p>we gon be alrigth</p>
              </div>
            </div>
          </div>
        
          <div class="message_body">
            <div class="pfp one"></div>
            <div class="bubble sender">
              <p>we gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigth</p>
            </div>
          </div> -->

          <!-- <p>STOOOOOOOP</p> -->

      <!-- IMPLEMNMENT REALTIME HERE -->

      <!--<div id="right-sidebar">
         <div id="right-name-x">
          <div id="pic-name-cont">
            <div id="right-profile-pic"></div>
            <p></p>
          </div>
          <div id="close-icon">
            <img src="{% static 'chat/images/close.png' %}" alt="X Icon" />
          </div>
        </div>
        <div id="right-info-cont">
          <div id="right-username">
            <h5></h5>
            <p></p>
          </div>
          <div id="right-bio">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <div id="notifications-cont">
          <h5>Notifications</h5>

          <div class="checkbox-wrapper-2">
            <input type="checkbox" class="sc-gJwTLC ikxBAC" />
          </div>
        </div>
        <div id="user-options-cont">
          <a href="#" id="block-user" class="user-option__a">Block User</a>
          <p>Clear History</p>
          <p>Delete Conversation</p>
          <a href="#" id="add-friend" class="user-option__a">Add Friend</a>
        </div> -->
