{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'yapster/styles.css' %}" />
    <script src="{% static 'chat/index.js' %}" defer></script>
    <script src="{% static 'yapster/index.js' %}" defer></script>
    <script src="{% static 'chat/chat.js' %}" defer></script>

    <title>Chat</title>
  </head>
  <script>
    const csrfToken = "{{ csrf_token }}";
    const getOrCreateChatUrl = "{% url 'get_or_create_chat' %}";
  </script>
  <body>
    {% include 'html/navbar.html' %}
    <div id="main-cont">
      <div id="left-sidebar">
        <div id="search-bar">
          <form method="get" action="{% url 'chat' %}">
            <input type="text" name="search" placeholder="Search" value="{{ query }}" />
          </form>
        </div>
        <div id="users-cont">
          {% if query %}
              <!-- Search Results -->
              {% for user in users %}
              <div class="user" onclick="loadUserDetails({{user.id}})" data-id="{{ user.id }}">
                <div class="left-profile-pic"></div>
                <div class="name-time-msg">
                  <div class="name-time">
                    <p class="name">{{ user.user.first_name }} {{ user.user.last_name }}</p>
                    <p class="time-sent">Last seen: 1:06pm</p>
                  </div>
                  <p class="message">No message available</p>
                </div>
              </div>
              {% empty %}
              <p>No users found.</p>
              {% endfor %}
          {% else %}
              <!-- Existing Chats -->
              {% for chat in chat_users_mapping %}
              <div class="user" 
                  onclick="loadChat({{ chat.user_ids|join:', ' }})" 
                   data-chat-id="{{ chat.chat_id }}">
                  <div class="left-profile-pic"></div>
                  <div class="name-time-msg">
                      <div class="name-time">
                        <p class="name">
                          {{ chat.chat_name }}
                        </p>
                        <p class="members">
                            {% for name in chat.user_names %}
                                {{ name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p class="time-sent">Last seen: 1:06pm</p>
                      </div>
                      <p class="message">No message available</p>
                  </div>
              </div>
              {% empty %}
              <p>No chats available.</p>
              {% endfor %}
          {% endif %}
      </div>
    </div>
      <!-- IMPLEMNMENT REALTIME HERE -->
      <div id="mid-bar">
        <section class="messages">
          <!-- received messages and displayed here -->
          {% for i in content %} {% if i.sender != user %}
          <div class="bubble sender">
            <p>{{i.content}}</p>
          </div>
          {% else %}
          <div class="bubble recipient">
            <p>{{i.content}}</p>
          </div>
          {% endif %} {% endfor %}
          <!-- end receive messages -->
          <!-- test maessage -->
          <!-- <div class="message_body">
            <div class="empty_image"></div>
            <div>
              <div class="chatter_name">
                Dunk it Jonathan
              </div>
              <div class="bubble sender">
                <p>we gon be alrigth</p>
              </div>
            </div>
          </div>
        
          <div class="message_body">
            <div class="pfp one"></div>
            <div class="bubble sender">
              <p>we gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigthwe gon be alrigth</p>
            </div>
          </div> -->

          <!-- <p>STOOOOOOOP</p> -->
          
        </section>
        <form action="" id="message-input" method="POST">
            {% csrf_token %}
            <div id="mid-message">
                <input id="typed-message" type="text" name="message" placeholder="Your message..." />
                <button type="submit">Send</button>
            </div>
        </form>
      </div>
      <!-- IMPLEMNMENT REALTIME HERE -->

      <!--<div id="right-sidebar">
         <div id="right-name-x">
          <div id="pic-name-cont">
            <div id="right-profile-pic"></div>
            <p></p>
          </div>
          <div id="close-icon">
            <img src="{% static 'chat/images/close.png' %}" alt="X Icon" />
          </div>
        </div>
        <div id="right-info-cont">
          <div id="right-username">
            <h5></h5>
            <p></p>
          </div>
          <div id="right-bio">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <div id="notifications-cont">
          <h5>Notifications</h5>

          <div class="checkbox-wrapper-2">
            <input type="checkbox" class="sc-gJwTLC ikxBAC" />
          </div>
        </div>
        <div id="user-options-cont">
          <a href="#" id="block-user" class="user-option__a">Block User</a>
          <p>Clear History</p>
          <p>Delete Conversation</p>
          <a href="#" id="add-friend" class="user-option__a">Add Friend</a>
        </div> -->

        <div id="chat-sidebar">
          <div class="chat-sidebar-profile">
            <div class="chat-sidebar-profile-pic">
                <div class="image">
                    <img id="profileImage" src="
                            {% if user.yapsteruser.profile_image and user.yapsteruser.profile_image.url %}{{ user.yapsteruser.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}"
                         width="100" height="100" alt="Profile Picture"
                         onerror="this.onerror=null;this.src='{% static 'images/default_profile.jpg' %}';"></div>
                </div>
            <div class="chat-sidebar-info">
              <h2>{{ user.first_name }} {{ user.last_name }}</h2>
              <p class="chat-sidebar-status">@{{ user.username }}</p>
                <a href="#" class="chat-sidebar-search">
                    <img src="{% static 'chat/images/search.png' %}" alt="Search Icon" />
                    <span>Search</span>
                </a>
            </div>
          </div>
          <div class="chat-sidebar-options">
              <div class="dropdown">
                <button class="dropdown-toggle" onclick="toggleDropdown(this)">
                  Chat info
                  <img src="{% static 'chat/images/arrow-down.png' %}" alt="Arrow Down Icon" />
                </button>
                <div class="dropdown-content">
                  <a href="#">Option 1</a>
                  <a href="#">Option 2</a>
                  <a href="#">Option 3</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropdown-toggle" onclick="toggleDropdown(this)">
                  Customize chat
                  <img src="{% static 'chat/images/arrow-down.png' %}" alt="Arrow Down Icon" />
                </button>
                <div class="dropdown-content">
                  <a href="#">Option 1</a>
                  <a href="#">Option 2</a>
                  <a href="#">Option 3</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropdown-toggle" onclick="toggleDropdown(this)">
                  Chat members
                  <img src="{% static 'chat/images/arrow-down.png' %}" alt="Arrow Down Icon" />
                </button>
                <div class="dropdown-content">
                  <a href="#">Option 1</a>
                  <a href="#">Option 2</a>
                  <a href="#">Option 3</a>
                </div>
              </div>
            </div>

      </div> <!-- closing div for right-sidebar -->
    </div>

    <script>
      let chat_name = `{{ chat_room.chat_name }}`;
      console.log("Room:", chat_name);
      let user_logged_in = `{{ user.username }}`;
      console.log("Logged-in user:", user_logged_in);
    </script>
  </body>
</html>