{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'friend/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'yapster/styles.css' %}" />
    <script src="{% static 'yapster/index.js' %}" defer></script>
    <title>Block List</title>
  </head>
  <body>
    {% include 'html/navbar.html' %}

    <h2 class="title">Blocked Users</h2>

    <div class="users-cont">
      {% for blocked in blocked_list %}
      <div class="user">
        <a href="/public_profile/{{ blocked.user.id }}">
          <div class="user-details">
            <img class="user__profile-image" src="{% if blocked.profile_image %}{{  blocked.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}"></img>
            <p class="user__name">{{ blocked.user.first_name }} {{ blocked.user.last_name }}</p>
          </div>
        </a>
        <div class="user__actions">
          <a href="{% url 'friend:unblock_user' blocked.user.id %}">Unblock</a>
        </div>
      </div>
      {% empty %}
      <p>No users found.</p>
      {% endfor %}
    </div>
  </body>
</html>
