{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'friend/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'yapster/styles.css' %}" />
    <script src="{% static 'yapster/index.js' %}" defer></script>
    <title>Block List</title>
  </head>
  <body>
    {% include 'html/navbar.html' %}

    <div class="cont">
      <h1 class="cont__title">Blocked List</h1>
      {% if blocked_list%}
      <div class="friend-list">
        {% for blocked in blocked_list %}
        <div class="friend">
          <h2 class="friend__name">{{blocked.user.first_name }} {{ blocked.user.last_name }}</h2>
          <a class="user-option" href="{% url 'friend:unblock_user' blocked.user.id %}">Unblock</a>
        </div>

        {% endfor %}
      </div>
      {% else %}
      <h3>NO BLOCKED USERS</h3>
      {% endif %}
    </div>
  </body>
</html>
