{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'friend/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'yapster/styles.css' %}" />
    <script src="{% static 'yapster/index.js' %}" defer></script>
    <title>Friends</title>
  </head>
  <body>
    {% include 'html/navbar.html' %}

    <h2 class="title">Friends</h2>

    <div class="users-cont">
      {% for friend in friend_list %}
      <div class="user">
        <div class="user-details">
          <img class="user__profile-image" src="{% static 'images/default_profile.jpg' %}" alt="" />
          <p class="user__name">{{ friend.user.first_name }} {{ friend.user.last_name }}</p>
        </div>
        <div class="user__actions">
          <a href="{% url 'friend:remove_friend' friend.user.id %}">Unfriend</a>
        </div>
      </div>
      {% empty %}
      <p>No users found.</p>
      {% endfor %}
    </div>
  </body>
</html>
