{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'friend/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'yapster/styles.css' %}" />
    <script src="{% static 'yapster/index.js' %}" defer></script>
    <title>Friend Requests</title>
  </head>
  <body>
    {% include 'html/navbar.html' %}
    <div class="cont">
      <h1 class="cont__title">Friend Requests</h1>

      {% if friend_requests %}
      <div class="friend-list">
        {% for request in friend_requests %}
        <div class="friend">
          <h2 class="friend__name">
            {{ request.sender.user.first_name}} {{ request.sender.user.last_name}}
          </h2>
          <a class="user-option" href="{% url 'friend:accept_friend_request' request.id %}"
            >Accept</a
          >
          <a class="user-option" href="{% url 'friend:decline_friend_request' request.id %}"
            >Decline</a
          >
        </div>

        {% endfor %}
      </div>
      {% else %}
      <h3>No friend requests.</h3>
      {% endif %}
    </div>
  </body>
</html>
