@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Plus Jakarta Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: rgb(12, 12, 12);
}

body {
	background-color: rgb(248, 248, 248);
}

/*******************
* UTILITY CLASSES
*******************/
.hidden {
	display: none;
}

/*******************
* NAVBAR
*******************/
nav {
	width: 100%;
	height: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-bottom: 1px solid #cdd5de;
	background-color: rgb(245, 245, 245);
}

.option {
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.1s ease-in-out;
}

.option img {
	width: 80%;
	height: auto;
}

#logo-name-cont {
	display: flex;
	align-items: center;
}

#logo-name-cont>h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-right: 1rem;
}

#nav-options {
	display: flex;
	align-items: center;
	gap: 5px;
}

#nav-profile-pic {
	background-color: rgb(193, 193, 193);
	width: 30px;
	height: 30px;
	border-radius: 50px;
}

#main-cont {
	display: flex;
	width: 100vw;
	height: calc(100vh - 55px);
}

#dots {
	position: relative;
	z-index: 10;
}

#dots-options {
	position: absolute;
	top: 140%;
	left: -100px;
	background-color: white;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	z-index: 20;
	width: 150px;
}

.dots-option {
	padding: 4px;
	border-bottom: 1px solid rgb(206, 206, 206);
}

.dots-option:last-child {
	border-bottom: none;
}

.dots-option:hover {
	background-color: rgb(240, 240, 240);
}

/*******************
* LEFT SIDEBAR 
*******************/
#left-sidebar {
	width: 18rem;
	border-right: 1px solid #cdd5de;
}

#search-bar {
	width: 90%;
	margin: 10px auto;
}

#search-bar input {
	color: #8fa0af;
	border: 1px solid #cdd5de;
	border-radius: 8px;
	width: 100%;
	font-size: 0.8rem;
	padding: 5px 8px;
	outline: none;
}

/*******************
* USER
*******************/
#users-cont {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.user {
	padding: 10px 0;
	position: relative;
	font-size: 0.8rem;
	cursor: pointer;
}

.user:hover {
	background-color: #efefef;
}

.left-profile-pic {
	background-color: rgb(193, 193, 193);
	width: 40px;
	height: 40px;
	border-radius: 50px;
	position: absolute;
	left: 16px;
	top: 8px;
}

.name-time-msg {
	padding: 0 20px 0 60px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.name-time {
	display: flex;
	justify-content: space-between;
}

.name {
	font-weight: bold;
}

.time-sent {
	color: rgb(110, 110, 110);
}

.message {
	color: #616c76;
}

/*******************
* MIDDLE
*******************/
#mid-bar {
	flex-grow: 1;
	position: relative;
}

#mid-message {
	position: absolute;
	left: 0;
	right: 0;
	margin-inline: auto;
	bottom: 10px;
	display: flex;
	justify-content: center;
	height: 50px;
	width: 100%;
}

#mid-message input {
	width: 70%;
	min-width: 100px;
	padding: 0 10px;
	font-size: 1rem;
	outline: none;
	border: 1px solid rgb(185, 185, 185);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#mid-message button {
	border: 1px solid rgb(185, 185, 185);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 80px;
	margin-left: 10px;
	font-size: 1rem;
	cursor: pointer;
	outline: none;
}

#mid-message button:hover {
	background-color: rgb(213, 213, 213);
}

/*******************
* RIGHT SIDEBAR
*******************/
#right-sidebar {
	width: 16rem;
	height: 100%;
	border-left: 1px solid #cdd5de;
	padding: 0 25px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	display: none;
}

#right-name-x {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #cdd5de;
	padding: 15px 5px;
}

#close-icon {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

#pic-name-cont {
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: 600;
	font-size: 0.9rem;
}

#right-profile-pic {
	background-color: rgb(193, 193, 193);
	width: 25px;
	height: 25px;
	border-radius: 50px;
}

#right-info-cont {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px 0;
	border-bottom: 1px solid #cdd5de;
	justify-content: center;
}

#notifications-cont {
	font-weight: 600;
	padding: 15px 0;
	border-bottom: 1px solid #cdd5de;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#user-options-cont {
	padding: 15px 0;
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

#user-options-cont p,
.user-option__a {
	cursor: pointer;
	color: #0086ea;
}

#user-options-cont p:hover,
.user-option__a:hover {
	color: #046fc1;
	text-decoration: underline;
}

.checkbox-wrapper-2 .ikxBAC {
	appearance: none;
	background-color: #dfe1e4;
	border-radius: 72px;
	border-style: none;
	flex-shrink: 0;
	height: 20px;
	margin: 0;
	position: relative;
	width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
	bottom: -6px;
	content: "";
	left: -6px;
	position: absolute;
	right: -6px;
	top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
	transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 14px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 14px;
}

.checkbox-wrapper-2 input[type="checkbox"] {
	cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
	background-color: #c9cbcd;
	transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
	background-color: #0086ea;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
	background-color: #fff;
	left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
	outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
	background-color: #017ad7;
}