{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="background-text-container">
            <div class="background-text">Yapster</div>
        </div>
        <div class="sign-in-box">
            <h2>SIGN IN</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-box">
                    <input type="text" name="username" id="username" placeholder="User Name" required>
                </div>
                <div class="input-box">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <a href="#" class="forgot">Forgot Password?</a>
                </div>
                {% for message in messages %}
                <p id="signup-error-msg">
                    {{ message }}
                </p>
                {% endfor %}
                <button type="submit" class="btn">SIGN IN</button>
            </form>
            <div class="last-question">
                Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
            </div>
        </div>
        <div class="rectangle-container">
            <div class="rectangle transparent-rectangle"></div>
            <div class="rectangle solid-rectangle"></div>
        </div>
    </div>
</body>
</html>