{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="sign-in-box">
            <h2>SIGN IN</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-box">
                    <label for="username">Username or Email</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password" required>
                    <a href="#" class="forgot">Forgot?</a>
                </div>
                {% for message in messages %}
                <p id="signup-error-msg">
                    {{ message }}
                </p>
                {% endfor %}
                <button type="submit" class="btn">SIGN IN</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        </div>
    </div>
</body>
</html>