{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page - Settings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'profile_style.css' %}">
</head>
<body>


<div class="badi">
    <div class="baddie">
        <nav>
            <div id="logo-name-cont">
                <h1>Y</h1>
                <h2>Yapster</h2>
            </div>

            <div id="nav-options">
                <div class="option">
                    <img src="{% static 'chat/images/settings.png' %}" alt="Gear Icon"/>
                </div>
                <a href="{% url 'friend:friends_list' user_id=user.id %}">Friends</a>
                <a href="{% url 'friend:friend_requests' %}">Friend Requests</a>
                <a href="{% url 'logout' %}">Logout</a>
                <div id="dots" class="option">
                    <img
                            src="{% static 'chat/images/dots.png' %}"
                            alt="Triple Dots Icon"
                    />
                </div>
                <a href="{% url 'profile_page' %}">
                    <div id="nav-profile-pic"></div>
                </a>
            </div>
        </nav>

        <div class="profile-page-container">
            <div class="profile-content">
                <div class="profile-sidebar">
                    <div class="profile-image" onclick="openProfileModal()">
                        <img id="profileImage" src="
                                {% if user.yapsteruser.profile_image and user.yapsteruser.profile_image.url %}{{ user.yapsteruser.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}"
                             width="100" height="100" alt="Profile Picture"
                             onerror="this.onerror=null;this.src='{% static 'images/default_profile.jpg' %}';"></div>
                    <input type="file" id="profileImageInput" style="display: none;" accept="image/*">
                    <h4>{{ user.first_name|default_if_none:"Enter First Name" }} {{ user.last_name|default_if_none:"Enter Last Name" }}</h4>

                    <div class="left-navigation">
                        <a href="{% url 'public_profile' %}" class="btn btn-primary btn-block mt-3">View Public
                            Profile</a>
                        <a href="{% url 'profile_page' %}" class="btn btn-primary btn-block mt-3">Account Settings</a>
                        <a href="#" class="btn btn-primary btn-block mt-3">Password Security</a>
                    </div>
                </div>

                <div class="profile-main">
                    <p class="font-size">Account Settings</p>

                    <form class="profile-form mt-3" method="POST" action="{% url 'update_profile' %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="first_name"
                                       value="{{ user.first_name|default_if_none:"" }}" placeholder="Enter First Name">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="last_name"
                                       value="{{ user.last_name|default_if_none:"" }}" placeholder="Enter Last Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="text" class="form-control" id="phoneNumber" name="phone_number"
                                       value="{{ user.yapsteruser.phone_number|default_if_none:"" }}"
                                       placeholder="Enter Phone Number">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       value="{{ user.email|default_if_none:"Enter Email Address" }}"
                                       placeholder="Enter Email Address">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" name="city"
                                       value="{{ user.yapsteruser.city|default_if_none:"" }}" placeholder="Enter City">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="state">State/County</label>
                                <input type="text" class="form-control" id="state" name="state"
                                       value="{{ user.yapsteruser.state|default_if_none:"" }}"
                                       placeholder="Enter State">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="postcode">Postcode</label>
                                <input type="text" class="form-control" id="postcode" name="postcode"
                                       value="{{ user.yapsteruser.postcode|default_if_none:"" }}"
                                       placeholder="Enter Postal Code">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" name="country"
                                       value="{{ user.yapsteruser.country|default_if_none:"" }}"
                                       placeholder="Enter Country">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-11">
                                <label for="bio">Bio</label>
                                <textarea class="form-control" id="bio" name="bio" rows="4"
                                          placeholder="Enter Bio">{{ user.yapsteruser.bio|default_if_none:"" }}</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label>Profile Image</label>
                                <input type="file" class="form-control-file" id="profileImageInput" name="profile_image"
                                       accept="image/*">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary1 mt-3">Update</button>
                    </form>
                </div>
            </div>

            <div id="profileModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal('profileModal')">&times;</span>
                    <img id="modalProfileImage" src="
                            {% if user.yapsteruser.profile_image %}{{ user.yapsteruser.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}"
                         alt="Profile Picture">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'public-profile.js' %}"></script>
</body>
</html>