<!-- profile_page.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'profile_style.css' %}">
</head>
<body>

<div class="badi">
<div class="baddie">
    <div class="cover-photo">
    </div>

    <nav>
      <div id="logo-name-cont">
        <h1>Y</h1>
        <h2>Yapster</h2>
      </div>

      <div id="nav-options">
        <div class="option">
          <img src="{% static 'chat/images/settings.png' %}" alt="Gear Icon" />
        </div>
        <a href="{% url 'friend:friends_list' user_id=user.id %}">Friends</a>
        <a href="{% url 'friend:friend_requests' %}">Friend Requests</a>
        <a href="{% url 'logout' %}">Logout</a>
        <div id="dots" class="option">
          <img
            src="{% static 'chat/images/dots.png' %}"
            alt="Triple Dots Icon"
          />

          <!-- <div id="dots-options" class="hidden">
            <div class="dots-option" id="dots-logout">
              {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Logout</a>
              {% endif %}
            </div>

            <div class="dots-option" id="dots-friends">
              {% if user.is_authenticated %}
              <a href="{% url 'friend:friends_list' user_id=user.id %}"
                >Friends</a
              >
              {% endif %}
            </div>
          </div> -->
        </div>
        <a href="{% url 'profile_page' %}">
          <!-- ako sa gi change para mu adto profile page -->
          <div id="nav-profile-pic"></div>
        </a>
      </div>
    </nav>



    <div class="profile-page-container">
        <button class="btn btn-light btn-cover-photo" onclick="document.getElementById('coverPhotoInput').click()">Change Cover</button>
        <input type="file" id="coverPhotoInput" style="display: none;" accept="image/*">
        <div class="profile-sidebar">
            <div class="profile-image" onclick="openProfileOptions()">
                {% if user.yapsteruser.profile_image %}
                    <img id="profileImage" src="{{ user.yapsteruser.profile_image.url }}" alt="Profile Picture" width="100" height="100">
                {% else %}
                {% endif %}
                    <img id="profileImage" src="{% static 'images/default_profile.jpg' %}" alt="Default Profile Picture" width="100" height="100">
            </div>
            <input type="file" id="profileImageInput" style="display: none;" accept="image/*">
            <h4>{{ user.first_name|default_if_none:"Enter First Name" }} {{ user.last_name|default_if_none:"Enter Last Name" }}</h4>
            <!-- <p>{{ user.email|default_if_none:"Enter Email Address" }}</p> -->

            <a href="{% url 'public_profile' %}" class="btn btn-primary btn-block mt-3">View Public Profile</a>
        </div>

        <div class="profile-main">
            <p class="font-size">Account Settings</p>

            <form class="profile-form mt-3" method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="first_name" value="{{ user.first_name|default_if_none:"" }}" placeholder="Enter First Name">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="last_name" value="{{ user.last_name|default_if_none:"" }}" placeholder="Enter Last Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phone_number" value="{{ user.yapsteruser.phone_number|default_if_none:"" }}" placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email|default_if_none:"Enter Email Address" }}" placeholder="Enter Email Address">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" value="{{ user.yapsteruser.city|default_if_none:"" }}" placeholder="Enter City">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="state">State/County</label>
                        <input type="text" class="form-control" id="state" name="state" value="{{ user.yapsteruser.state|default_if_none:"" }}" placeholder="Enter State">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="postcode">Postcode</label>
                        <input type="text" class="form-control" id="postcode" name="postcode" value="{{ user.yapsteruser.postcode|default_if_none:"" }}" placeholder="Enter Postal Code">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" name="country" value="{{ user.yapsteruser.country|default_if_none:"" }}" placeholder="Enter Country">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-11">
                        <label for="bio">Bio</label>
                        <textarea class="form-control" id="bio" name="bio" rows="4" placeholder="Enter Bio">{{ user.yapsteruser.bio|default_if_none:"" }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Update</button>
            </form>
        </div>
    </div>

    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('profileModal')">&times;</span>
            <img id="modalProfileImage" src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}" alt="Profile Picture">
            <button class="btn btn-primary1 mt-3" onclick="document.getElementById('profileImageInput').click()">Update Profile Picture</button>
        </div>
    </div>

    <script>
        function openProfileOptions() {
            document.getElementById('profileModal').style.display = 'block';
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }

        function previewImage(event, imageId) {
            if (event.target.files && event.target.files[0]) {
                var reader = new FileReader();
                reader.onload = function() {
                    var output = document.getElementById(imageId);
                    output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            } else {
                console.error('No file selected or invalid file.');
            }
        }

        document.getElementById('profileImageInput').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                previewImage(event, 'profileImage');
                previewImage(event, 'modalProfileImage');
            } else {
                alert('Please select a valid image file.');
            }
        });


        function previewCover(event) {
            var reader = new FileReader();
            reader.onload = function(){
                document.querySelector('.cover-photo').style.backgroundImage = `url(${reader.result})`;
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        document.getElementById('coverPhotoInput').addEventListener('change', function(event) {
            previewCover(event);
        });
    </script>
</div>
</div>
</body>
</html>