{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="{% static 'yapster/styles.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <link rel="stylesheet" href="{%  static 'public-profile.css' %}">
    <script src="{% static 'yapster/index.js' %}" defer></script>
    <title>Profile Card</title>
</head>
<body>
   <!--  <div class="modal">
        <img id="profileImage" src="
             {% if user.yapsteruser.profile_image and user.yapsteruser.profile_image.url %}{{ user.yapsteruser.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}"
             width="100" height="100" alt="Profile Picture"
             onerror="this.onerror=null;this.src='{% static 'images/default_profile.jpg' %}';">
        <div class="close"></div>
    </div> -->

    {% include 'html/navbar.html' %}

   <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('profileModal')">&times;</span>
            <img id="modalProfileImage" src="{% if user.yapsteruser.profile_image and user.yapsteruser.profile_image.url %}{{ user.yapsteruser.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}"
             width="100" height="100" alt="Profile Picture"
             onerror="this.onerror=null;this.src='{% static 'images/default_profile.jpg' %}';">
        </div>
    </div>
        


    <div class="container">
        <div class="card">
            <div class="header">
                <a href="{% url 'profile_page' %}" class="settings">
                    <i class="fas fa-cog"></i>
                </a>
                <div class="main">
                    <div class="image">
                        <img id="profileImage" src="
                                {% if user.yapsteruser.profile_image and user.yapsteruser.profile_image.url %}{{ user.yapsteruser.profile_image.url }}{% else %}{% static 'images/default_profile.jpg' %}{% endif %}"
                             width="100" height="100" alt="Profile Picture"
                             onerror="this.onerror=null;this.src='{% static 'images/default_profile.jpg' %}';">
                        <div class="hover">
                            <i class="fas fa-camera fa-2x"></i>
                        </div>
                    </div>
                    <h3 class="name">{{ user.first_name }} {{ user.last_name }}</h3>
                    <h3 class="sub-name">@{{ user.username }}</h3>
                </div>
            </div>

            <div class="content">
                <div class="left">
                    <div class="about-container">
                        <h3 class="title">Bio</h3>
                        <p class="text" id="bioText">{{ user.yapsteruser.bio }}</p>
                        <a href="#" id="seeMoreLink" style="display: none;text-decoration: none;"> see more</a>
                        <a href="#" id="seeLessLink" style="display: none;text-decoration: none;"> see less...</a>
                    </div>
                    <div class="buttons-wrap">
                        <div class="follow-wrap">
                            <a href="#" class="follow">Follow</a>
                        </div>
                        <div class="message-wrap">
                            <a href="#" class="message">Message</a>
                        </div>
                    </div>
                </div>
                <!--
                <div class="right">
                    <div>
                        <h3 class="number">5</h3>
                        <h3 class="number-title">Following</h3>
                    </div>
                    <div>
                        <h3 class="number1">1</h3>
                        <h3 class="number-title1">Followers</h3>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="info">
            <div class="person-name">
                    <div>
                        <h1 class="big">{{ user.first_name }} {{ user.last_name }}</h1>
                    </div>
                </div>

                    <h3 class="title">Basic Information</h3>
                    <p class="text">Contact Number: {{ yapster_user.phone_number }}</p>
                    <p class="text">Email Address: {{ user.email }}</p>
                    <p class="text">Address: {{ yapster_user.state }} {{ yapster_user.city }}
                        {{ yapster_user.postcode }} {{ yapster_user.country }}</p>

            </div>
        </div>
    <script src="{% static 'public-profile.js' %}"></script>
</body>
</html>