{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="sign-up-box">
            <h2>REGISTER</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-box">
                    <img src="{% static 'images/USER.png' %}" class="icon_user" alt="User Icon">
                    <input type="text" name="username" id="username" placeholder="User Name" required>
                </div>
                <div class="input-box">
                    <img src="{% static 'images/PADLOCK.png' %}" class="icon_password" alt="Password Icon">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>

                <div class="input-box">
                    <img src="{% static 'images/PADLOCK.png' %}" class="icon_password" alt="Password Icon">
                    <input type="password" name="password2" id="password2" placeholder="Confirm Password" required>
                </div>

                <div class="input-box">
                    <img src="{% static 'images/ID CARD.png' %}" class="icon_card" alt="Card Icon">
                    <input type="text" name="fname" id="firstName" placeholder="First Name" required>
                </div>

                <div class="input-box">
                    <img src="{% static 'images/ID CARD.png' %}" class="icon_card" alt="Card Icon">
                    <input type="text" name="lname" id="lastName" placeholder="Last Name" required>
                </div>

                {% for message in messages %}
                <p id="signup-error-msg">
                    {{ message }}
                </p>
                {% endfor %}
                <div class="button-container">
                    <img src="{% static 'images/Line 1.png' %}" class="line-image" alt="Line Image">
                    <button type="submit" class="btn">REGISTER</button>
                </div>
            </form>
            <div class="last-question">
                Already have an account? <a href="{% url 'login' %}">Sign In</a>
            </div>
        </div>
        <div class="rectangle-container">
            <div class="rectangle transparent-rectangle"></div>
            <div class="rectangle solid-rectangle"></div>
        </div>
    </div>
</body>

</html>