{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="sign-in-box">
            <h2>REGISTER</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-box">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email" required>
                </div>

                <div class="input-box">
                    <label for="">Name</label>

                    <div id="name-cont">
                        <input type="text" name="fname" id="firstName" placeholder="First name" required>
                        <input type="text" name="lname" id="lastName" placeholder="Last name" required>
                    </div>
                </div>

                <div class="input-box">
                    <label for="cars">Gender:</label>

                    <select name="gender" id="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                </div>

                <div class="input-box">
                    <label for="birthday">Birthday</label>
                    <input type="date" name="birthday" id="birthday" placeholder="Enter your birthday" required>
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <div id="password-cont">
                        <input type="password" name="password" placeholder="Enter your password" required>
                        <input type="password" name="password2" placeholder="Retype your password" required>
                    </div>
                </div>

                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <button type="submit" class="btn">REGISTER</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
</body>

</html>