@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  margin: 10px 0;
}

.cont {
  width: 80%;
  max-width: 1200px;
  margin-inline: auto;
  border-radius: 7px;
}

.cont__title {
  text-align: center;
  margin: 20px 0;
}

.friend-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 1000px;
  margin-inline: auto;
}

.friend {
  background-color: rgb(239, 239, 239);
  padding: 10px;
  border-radius: 8px;
  height: 90px;
}

.friend__name {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.user-option:hover {
  color: blue;
  text-decoration: underline;
}

.users-cont {
  max-width: 950px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.form-cont h2 {
  margin-bottom: 5px;
}

.search-input {
  padding: 5px;
  outline: none;
  width: 300px;

  color: #8fa0af;
  border: 1px solid #cdd5de;
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 5px 8px;
  outline: none;
}

.user {
  background-color: rgb(238, 238, 238);
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 5px;
}

.user-details {
  display: flex;
  align-items: center;
}

.user__profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.user__name {
  margin-left: 10px;
  cursor: pointer;
}

.user__actions a {
  display: block;
  background-color: rgb(200, 134, 134);
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  padding-inline: 4px;
  display: flex;
  align-items: center;
  transition: 0.1s;
}

.user__actions a:hover {
  background-color: rgb(203, 105, 105);
}